body {
  width: unset;
  height: 100%;
  background-color: var(--bg);
  display: grid;
}

.Box {
  width: fit-content;
  height: fit-content;
  background-color: silver;
  border-radius: 3px;
  border-width: 2px;
  border-color: black;
  font-size: 100%;
}

button a:hover {
  text-decoration: none;
  color: black;
}

button a {
  text-decoration: 0;
  color: black;
  font-style: times;
}

.btn {
  height: fit-content;
  width: fit-content;
  border-radius: 50%;
  border: none;
  color: var(--btnFontColor);
  background-color: var(--btnBg);
}

.btn:focus {
  outline-style: none;
}

.light-theme {
  --bg: white;
  --fontColor: black;
  --btnBg: black;
  --btnFontColor: white;
}

.dark-theme {
  --bg: rgb(49, 45, 45);
  --fontColor: rgb(238, 226, 226);
  --btnBg: rgba(255, 255, 255, 0.822);
  --btnFontColor: black;
}
label {
  color: var(--btnBg);
}

.add-profile {
  background-color: var(--bg);
  border: 2px solid black;
  padding: 1.5rem;
  margin: 1.5rem;
  display: grid;
  grid-gap: 1.5rem;
}
