body {
  width: unset;
  height: 100%;
  background-color: gray;
  display: flex;
  flex-flow: wrap row;
  justify-content: flex-start;
}

.Box {
  width: fit-content 20px;
  height: fit-content 10px;
  background-color: silver;
  border-radius: 3px;
  border-width: 2px;
  border-color: black;
  font-size: 100%;
}

button a:hover {
  text-decoration: none;
  color: black;
}

button a {
  text-decoration: 0;
  color: black;
  font-style: times;
}

.btn {
  position: absolute;
  top: 500px;
  left: 250px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: none;
  color: var(--btnFontColor);
  background-color: var(--btnBg);
}

.btn:focus {
  outline-style: none;
}

.light-theme {
  --bg: var(--green);
  --fontColor: var(--black);
  --btnBg: var(--black);
  --btnFontColor: var(--white);
}

.dark-theme {
  --bg: var(--black);
  --fontColor: var(--green);
  --btnBg: var(--white);
  --btnFontColor: var(--black);
}

.add-profile {
  background-color: white;
  border: 2px solid black;
  padding: 1.5rem;
  margin: 1.5rem;
  display: grid;
  grid-gap: 1.5rem;
}
